<div class="bottom-nav">
  <div class="nav-btn" id="btn-inicio" role="button" tabindex="0" data-tooltip-i18n="homeTooltip" data-tooltip-placement="top" title="Abre el panel principal de estado de CookieSentinella">
    <img src="../../icons/casa.svg" alt="Inicio" width="24" height="24" />
    <span>Inicio</span>
  </div>
  <div class="nav-btn" id="btn-notificaciones" role="button" tabindex="0" data-tooltip-i18n="notificationsTooltip" data-tooltip-placement="top" title="Muestra estadísticas, eventos recientes y patrones detectados">
    <img src="../../icons/campana.svg" alt="Notificaciones" width="24" height="24" />
    <span>Notificaciones</span>
  </div>
  <div class="nav-btn" id="btn-configuracion" role="button" tabindex="0" data-tooltip-i18n="configurationTooltip" data-tooltip-placement="top" title="Abre las opciones de idioma y limpieza de notificaciones">
    <img src="../../icons/ajustes.svg" alt="Configuración" width="24" height="24" />
    <span>Configuración</span>
  </div>
  <div class="nav-btn" id="btn-ayuda" role="button" tabindex="0" data-tooltip-i18n="helpTooltip" data-tooltip-placement="top" title="Abre preguntas frecuentes, soporte y reporte de problemas">
    <img src="../../icons/ayuda.svg" alt="Ayuda" width="24" height="24" />
    <span>Ayuda</span>
  </div>
</div>
