<div class="bottom-nav">
  <div class="nav-btn" id="btn-inicio" role="button" tabindex="0">
    <img src="../../icons/casa.svg" alt="Inicio" width="24" height="24" />
    <span>Inicio</span>
  </div>
  <div class="nav-btn" id="btn-notificaciones" role="button" tabindex="0">
    <img src="../../icons/campana.svg" alt="Notificaciones" width="24" height="24" />
    <span>Notificaciones</span>
  </div>
  <div class="nav-btn" id="btn-configuracion" role="button" tabindex="0">
    <img src="../../icons/ajustes.svg" alt="Configuración" width="24" height="24" />
    <span>Configuración</span>
  </div>
  <div class="nav-btn" id="btn-ayuda" role="button" tabindex="0">
    <img src="../../icons/ayuda.svg" alt="Ayuda" width="24" height="24" />
    <span>Ayuda</span>
  </div>
</div>
